<div class="reveal">
  <div class="slides">
    <span class="header"><%= "Cook Time: #{@recipe.cook_time} Prep Time: #{@recipe.prep_time}" %></span>
    <script type="text/javascript"></script>
    <span id="recipe" data-id='<%= @recipe.id %>'></span>
    <section>
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image.url(:medium), class: "grow" %>
      <% end %>
      <h1><%= @recipe.title %></h1>
    </section>
    <section>
      <p id="description"><%= @recipe.description %></p>
    </section>
    <section id="ingredients">
      <h5>Ingredients</h5>
      <ul>
        <% @recipe.includings.each do |including|  %>
        <li class="ingredient-list">  <%= "#{including.amount % 1 == 0.0 ? including.amount.to_i : including.amount}
                #{including.measure_type unless including.measure_type == "qty"} #{including.ingredient.name}" %>
        </li>
        <% end %>
      </ul>
    </section>
    <% counter = 1 %>
    <% @recipe.steps.each do |step|  %>
      <section>
        <h3>Directions</h3>
        <span class="step" data-id='<%= "step#{counter}" %>'>
          <b> <%= "Step #{counter} of #{@recipe.steps.count}" %></b>
        </span>
        <p id="step<%=counter%>" style="text-align:left;"> <%= step.body %></p>
        <% counter += 1 %>
      </section>
    <% end %>
  </div>
</div>

  <!-- Help Modal -->
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="helpModalLabel">Audio Navigation Help</h4>
        </div>
        <div class="modal-body">
          <h4>Voice Commands</h4>
          <ul>
            <li>"Next/Right" to move to the next slide.</li>
            <li>"Back/Left" to move to the previous slide.</li>
            <li>"Ingredients" to move to the list of Ingredients slide.</li>
            <li>"Step + Number" to move to specific step, e.g. "Step 1"</li>
            <li>"Resume" to move back to the last step</li>
            <li>"End" to quit Audio mode.</li>
            <li>"Help" to toggle Audio mode help.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<script>
  Reveal.initialize({
    slideNumber: 'c/t',
    transition: 'convex'
  });
</script>
