<div class="reveal">
  <div class="slides">
    <span class="header"><%= "Cook Time: #{@recipe.cook_time} Prep Time: #{@recipe.prep_time}" %></span>
    <script type="text/javascript"></script>
    <span id="recipe" data-id='<%= @recipe.id %>'></span>
    <section>
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image.url(:medium), class: "grow" %>
      <% end %>
      <h1><%= @recipe.title %></h1>
    </section>
    <section>
      <p id="description"><%= @recipe.description %></p>
      <p>Cook Time: <%= @recipe.cook_time %></p>
      <p>Prep Time:<%= @recipe.prep_time %></p>
    </section>
    <section id="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <% @recipe.includings.each do |including|  %>
        <li><%= "#{Rational(including.amount)} #{including.measure_type} #{including.ingredient.name}" %></li>
        <% end %>
      </ul>
    </section>
    <% counter = 1 %>
    <% @recipe.steps.each do |step|  %>
      <section>
        <h3>Directions</h3>
        <span class="step" data-id='<%= "step#{counter}" %>'>
          <b> <%= "Step #{counter} of #{@recipe.steps.count}" %></b>
          <% counter += 1 %>
        </span>
        <p style="text-align:left;"> <%= step.body %></p>
      </section>
    <% end %>
  </div>
</div>
<script>
  Reveal.initialize({
  });
</script>
