<div class="col-md-6 form-group">
  <%= simple_form_for @recipe do |f|%>
    <%= f.input :title %>
    <%= f.input :description %>
    <div class="form-inline">
      <%= f.input :cook_time %>
      <%= f.input :prep_time %>
    </div>
</div>
    <%= f.input :image %>
<div class="col-md-12"></div>
<hr>
<div class="col-md-6">
  <b>Steps:</b>
    <%= f.simple_fields_for :steps do |r| %>
      <%= render "step_fields", f: r %>
    <% end  %>
</div>
<div class="links">
  <%= link_to_add_association "Add Step", f, :steps %>
</div>

<div class="col-md-6">
  <b>Ingredients:</b>
    <%= f.simple_fields_for :includings do |r| %>
            <%= render "including_fields", f: r %>
    <% end  %>
</div>
<div class="links">
  <%= link_to_add_association "Add Ingredient", f, :includings %>
</div>


<div class="form-group col-md-12">
  <%= f.submit %>
</div>
  <% end %>
