
<div class="container">
  <ul class="grid overlay splash-bg">
    <h4 class="main-headings splash">My Recipes</h4>
      <% @recipes.each do |recipe| %>
      <li>
        <% if recipe.image.present? %>
          <figure>
            <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image %>
            <figcaption>
            <h4> <%= recipe.title %> </h4>
          <%= truncate(recipe.description, length: 20, separator: ' ') %>
            <!-- <span><%= recipe.description %></span> -->
            <!-- <h4>Rating: ****</h4> -->
            </figcaption>
            <% end %>
          </figure>
        <% else %>
          <%= link_to recipe.title, recipe_path(recipe) %>
        <% end  %>
      <% end  %>
    </li>
  </ul>
</div>
