
<div class="container">
  <ul class="grid overlay splash-bg">
    <p>
      Welcome to Interactive Chef! Browse the collection below or sign up to start saving your own digital recipes.
      The speech recognition feature of this site allows users to follow each recipe
      without having to cover their expensive laptop in recipe ingredients!
    </p>
    <h4 class="main-headings splash">All Recipes</h4>
      <% @recipes.each do |recipe| %>
      <li>
        <% if recipe.image.present? %>
          <figure>
            <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image %>
            <figcaption>
              <span class="overlay-header"> <%= recipe.title %> </span>
              <span class="overlay-text">
                <%= truncate(recipe.description, length: 40, separator: ' ') %>
              </span>
            </figcaption>
            <% end %>
          </figure>
        <% else %>
          <%= link_to recipe.title, recipe_path(recipe) %>
        <% end  %>
      <% end  %>
    </li>
    <div>
      <b> Note:</b> This site is best viewed with Chrome as Google Chrome supports Speech Recognition by default.
      Other browsers require plugins or extra configuration for support.
    </div>
  </ul>
  <ul class="grid overlay splash-bg">
    <h4 class="main-headings splash">Recipes from other sites</h4>
      <% @recipe_scrapes.each do |recipe_scrape| %>
      <li>
        <% if recipe_scrape.image.present? %>
          <figure>
            <%= link_to scrape_recipe_path(recipe_scrape) do %>
            <%= image_tag recipe_scrape.image.url(:medium) %>
            <figcaption>
            <h4> <%= recipe_scrape.title %> </h4>
            </figcaption>
            <% end %>
          </figure>
        <% end  %>
      <% end  %>
    </li>
  </ul>
</div>
