
<div class="container">
  <ul class="grid overlay splash-bg">
    <h4 class="main-headings splash">My Recipes</h4>
      <% @recipes.each do |recipe| %>
      <li>
        <% if recipe.image.present? %>
          <figure>
            <%= link_to recipe_path(recipe) do %>
            <%= image_tag recipe.image %>
            <figcaption>
            <span class="overlay-header"> <%= recipe.title %> </span>
            <span class="overlay-text">
              <%= truncate(recipe.description, length: 40, separator: ' ') %>
            </span>
            <!-- <span><%= recipe.description %></span> -->
            <!-- <h4>Rating: ****</h4> -->
            </figcaption>
            <% end %>
          </figure>
        <% else %>
          <%= link_to recipe.title, recipe_path(recipe) %>
        <% end  %>
      <% end  %>
    </li>
  </ul>
  <ul class="grid overlay splash-bg">
    <h4 class="main-headings splash">Recipes from other sites</h4>
      <% @recipe_scrapes.each do |recipe_scrape| %>
      <li>
        <% if recipe_scrape.image.present? %>
          <figure>
            <%= link_to scrape_recipe_path(recipe_scrape) do %>
            <%= image_tag recipe_scrape.image.url(:medium) %>
            <figcaption>
            <h4> <%= recipe_scrape.title %> </h4>
            </figcaption>
            <% end %>
          </figure>
        <% else %>
          <%= link_to recipe.title, scrape_recipe_path(recipe_scrape) %>
        <% end  %>
      <% end  %>
    </li>
  </ul>
</div>
