<div class="container">
  <h1 class="new-recipe">Add a Recipe</h1>
  <hr class="filler">
  <div id="external" class="external form-inline col-md-12">
    <%= form_tag scrape_recipes_path do %>
      <%= label_tag "Recipe URL(e.g. AllRecipes.com)" %>
      <%= text_field_tag :URL, "", class: "external form-control" %>
      <%= submit_tag "Get Recipe", class: "btn" %>
    <% end %>
  </div>
<div class="">

</div>

  <%#= link_to "Add External Recipe", new_scrape_recipe_path, class: "pull-right" %>
  <%= render "form" %>
</div>
