<div class="container">
  <div class="form-inline">
    <%= form_tag scrape_recipes_path do %>
    <div class="col-md-6">
      <%= label_tag "External Recipe URL" %>
      <%= text_field_tag :URL, "", class: "form-control" %>
      <%= submit_tag "Get Recipe", class: "btn" %>
    </div>
    <% end %>
  </div>
  <div class="container">
    <h1>Add Recipe</h1>
  </div>

  <%#= link_to "Add External Recipe", new_scrape_recipe_path, class: "pull-right" %>
  <%= render "form" %>
</div>
