<div class="picture-description">
  <div class="container">

<div class="col-md-4 show-pic">
  <span id="recipe" data-id='<%= @recipe.id %>'></span>
    <% if @recipe.image.present? %>
      <%= image_tag @recipe.image.url(:medium), class: "grow" %>
    <% end %>
  </div>
  <div class="col-md-8 title-description">

    <h1><%= @recipe.title %></h1>

    <p id="description"><%= @recipe.description %></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>
    <p>Prep Time: <%= @recipe.prep_time %></p>
    <p> <button type="button" data-toggle="modal" data-target="#helpModal">
          <%= fa_icon "question", title: "Click for help"%>
        </button>
    </p>
    <p> Say <b>"Audio Mode"</b> for Voice Navigation. Or <b>"Help"</b> for a list of Voice Commands.</p>
  </div>


    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="helpModalLabel">Audio Navigation Help</h4>
          </div>
          <div class="modal-body">
            <h4>Voice Commands</h4>
            <ul>
              <li>"Audio Mode" or "Slide Show" to start voice navigation mode.</li>
              <li>"Next" or "Right" to move to the next slide.</li>
              <li>"Back" or "Left" to move to the previous slide.</li>
              <li>"Ingredients" to move to the list of Ingredients.</li>
              <li>"Step + Number" to move to specific step, e.g. "Step 1".</li>
              <li>"Resume" to move back to the last step.</li>
              <li>"End" to quit Audio mode.</li>
              <li>"Help" to toggle Audio mode help.</li>
            </ul>
            <p class="warning">
              <b>Note: Speech Recognition only works in Google Chrome Desktop Version</b>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">
<div class="col-md-12">
  <div class="ingredients col-md-4">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <% @recipe.includings.each do |including|  %>
      <!-- <li class="list-group-item"><%#= "#{including.amount % 1 == 0.0 ? including.amount.to_i : Rational(including.amount)}
              #{including.measure_type} #{including.ingredient.name}" %>
      </li> -->
      <%#= "#{including.amount % 1 == 0.0 ? including.amount.to_i : Rational(including.amount)} #{including.measure_type} #{including.ingredient.name}" %>

      <li class="list-group-item"><%= "#{including.amount % 1 == 0.0 ? including.amount.to_i : including.amount}
              #{including.measure_type unless including.measure_type == "qty"} #{including.ingredient.name}" %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="steps col-md-8">
<h3 class="direction-header">Directions</h3>
    <ol>
      <% @recipe.steps.each do |step|  %>
          <li><%= step.body %></li>
      <% end %>
    </ol>
  </div>
</div>


  <%# if @recipe.tags.any? %>
  <!-- Tagged with: -->
    <%# @recipe.tags.each do |tag| %>
    <!-- <div class="label label-primary"><%#= tag.name %></div> -->
    <%# end %>
  <%# end  %>

  <div class="container col-md-12 comment-box">
    <p><b>Recipe Notes</b></p>
    <% if @recipe.comments.any?  %>
      <% @recipe.comments.each do |comment| %>
      <div class="well well-sm">
      <p class="comment-header"> on <%= comment.created_at.strftime("%d %b") %>, <%= comment.user.first_name %> said: </p>
        <hr class="comment-divider">
        <%= comment.body %>
      </div>
      <% end %>
    <% end %>


    <p>Add a Note</p>
    <%= simple_form_for [@recipe, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Add Note", class: "btn", data: {disable_with: "Saving..."} %>
      </div>
    <% end %>
  </div>
  <div class="edit-delete">
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn blue-button" %>
    <%= link_to "Delete Recipe", recipe_path(@recipe), class: "btn red-button",
                                 data: {confirm: "Are you sure?"}, method: :delete %>
  </div>

</div>
