<!-- <img class="grow" src="<%=image_url('lasagne.jpg')%>" height="300px" width="300px" /> -->
<h1><%= @recipe.title %></h1>
<% if @recipe.image.present? %>
  <%= image_tag @recipe.image.url(:medium), class: "grow" %>
<% end %>
<p id="description">Description: <%= @recipe.description %></p>
<p>Cook Time: <%= @recipe.cook_time %></p>
<p>Prep Time:<%= @recipe.prep_time %></p>
<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn blue-button" %>
<%= link_to "Delete", recipe_path(@recipe), class: "btn red-button", method: :delete %>
<div class="orange pull-right">+</div>
<div class="green pull-right">-</div>
<div class="steps">
  Directions
  <ol>
    <% @recipe.steps.each do |step|  %>
        <li><%= step.body %></li>
    <% end %>
  </ol>
</div>
