<div class="picture-description">
  <div class="container">

<div class="col-md-4">
  <span id="recipe" data-id='<%= @recipe.id %>'></span>
    <% if @recipe.image.present? %>
      <%= image_tag @recipe.image.url(:medium), class: "grow" %>
    <% end %>
  </div>
  <div class="title-description">

    <h1><%= @recipe.title %></h1>

    <p id="description"><%= @recipe.description %></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>
    <p>Prep Time: <%= @recipe.prep_time %></p>
  </div>

  </div>

</div>

<div class="container">
<div class="col-md-12">
  <div class="ingredients col-md-4">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <% @recipe.includings.each do |including|  %>
      <li class="list-group-item"><%= "#{including.amount % 1 == 0.0 ? including.amount.to_i : Rational(including.amount)}
              #{including.measure_type} #{including.ingredient.name}" %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="steps col-md-8">
<h3 class="direction-header">Directions</h3>
    <ol>
      <% @recipe.steps.each do |step|  %>
          <li><%= step.body %></li>
      <% end %>
    </ol>
  </div>
</div>


  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn blue-button" %>
  <%= link_to "Delete", recipe_path(@recipe), class: "btn red-button", method: :delete %>

  <% if @recipe.tags.any? %>
  Tagged with:
    <% @recipe.tags.each do |tag| %>
    <div class="label label-primary"><%= tag.name %></div>
    <% end %>
  <% end  %>

  <p>Comments</p>

  <% @recipe.comments.each do |comment| %>
    <%= comment.body %>
  <% end %>

  <%= simple_form_for [@recipe, @comment] do |f| %>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary", data: {disable_with: "Saving..."} %>
    </div>
  <% end %>

</div>
