<div class="picture-description">
  <div class="container">

<div class="col-md-4 show-pic">
  <span id="recipe" data-id='<%= @recipe.id %>'></span>
    <% if @recipe.image.present? %>
      <%= image_tag @recipe.image.url(:medium), class: "grow" %>
    <% end %>
  </div>
  <div class="col-md-8 title-description">

    <h1><%= @recipe.title %></h1>

    <p id="description"><%= @recipe.description %></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>
    <p>Prep Time: <%= @recipe.prep_time %></p>
  <%= fa_icon "microphone 3x", class: "tips"%>
  <p></p>
  </div>

  </div>

</div>

<div class="container">
<div class="col-md-12">
  <div class="ingredients col-md-4">
    <h3>Ingredients</h3>
    <ul class="list-group">
      <% @recipe.includings.each do |including|  %>
      <!-- <li class="list-group-item"><%#= "#{including.amount % 1 == 0.0 ? including.amount.to_i : Rational(including.amount)}
              #{including.measure_type} #{including.ingredient.name}" %>
      </li> -->
      <li class="list-group-item"><%= "#{including.amount % 1 == 0.0 ? including.amount.to_i : Rational(including.amount)}
              #{including.measure_type} #{including.ingredient.name}" %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="steps col-md-8">
<h3 class="direction-header">Directions</h3>
    <ol>
      <% @recipe.steps.each do |step|  %>
          <li><%= step.body %></li>
      <% end %>
    </ol>
  </div>
</div>


  <%# if @recipe.tags.any? %>
  <!-- Tagged with: -->
    <%# @recipe.tags.each do |tag| %>
    <!-- <div class="label label-primary"><%#= tag.name %></div> -->
    <%# end %>
  <%# end  %>

  <div class="container col-md-12 comment-box">
    <p><b>Recipe Notes</b></p>
    <% if @recipe.comments.any?  %>
      <% @recipe.comments.each do |comment| %>
      <div class="well well-sm">
      <p class="comment-header"> on <%= comment.created_at.strftime("%d %b") %>, <%= comment.user.first_name %> said: </p>
        <hr class="comment-divider">
        <%= comment.body %>
      </div>
      <% end %>
    <% end %>


    <p>Add a Note</p>
    <%= simple_form_for [@recipe, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Add Note", class: "btn", data: {disable_with: "Saving..."} %>
      </div>
    <% end %>
  </div>
  <div class="edit-delete">
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn blue-button" %>
    <%= link_to "Delete Recipe", recipe_path(@recipe), class: "btn red-button", method: :delete %>
  </div>

</div>
