<nav class="nav">
  <div class="nav-content pull-left">
    <%= link_to recipes_path do %>
      <%= image_tag "knifey_spoony.png" %>
    <% end  %>
    <span class="logo">Knifey Spoony</span>
    <%= link_to "Recipes", recipes_path %>
    |
    <%= link_to "Add Recipe", new_recipe_path %>
  </div>
  <div class="nav-content pull-right">
    <% if user_signed_in? %>
      <%=link_to "Hello #{current_user.first_name} !"%>
      |
      <%= link_to "Log Out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </div>
</nav>
