<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "Recipes", recipes_path %>
    |
    <%= link_to "Add Recipe", new_recipe_path %>
  </nav>

<%= yield %>

</body>
</html>
