<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="nav">
      <%= image_tag "knifey_spoony.png" %>
      <span class="logo">Knifey Spoony</span>
      <%= link_to "Recipes", recipes_path %>
      |
      <%= link_to "Add Recipe", new_recipe_path %>
      <div class="pull-right">

        <% if user_signed_in? %>
        Hello <%= current_user.first_name %>!

        |
          <%= link_to "Log Out", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_session_path %>
        |
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

</body>
</html>
